{% extends 'base.html' %}
{% block content %}

<section id="One" class="wrapper style3">
    <div class="inner">
      <header class="align-center">
        <!-- swapped h2 and p -->
        <h2>GALLERY</h2>
        <hr>
        <p>Welcome to the gallerey of Stardust</p>
      </header>
    </div>
</section>

<section  id="two" class="wrapper style2" >

    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>

    <div class="gallery-container">
    <div class="gallery-img-container">


        <!-- all images to be displayed on gallery page  -->
        <div class=" gallery-img-card  ">
            <h2>Event  Name</h2>
            <a href="{% url 'Gallery:event' %}"><img src="/static/images/4th Image.jpg" alt=" image"></a>
        </div>


    </div>
</div>

</section>


{% endblock content %}